.modal-channels {
  padding:       10px 0;
  counter-reset: section;
  .channels {
    max-height:         100%;
    max-width:          1416px;
    width:              100%;
    background:         #FFFFFF;
    border-radius:      20px;
    overflow:           auto;
    display:            inline-block;
    vertical-align:     middle;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width:    none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .modal-channels-header {
    position:         sticky;
    top:              0;
    left:             0;
    z-index:          0;
    padding:          28px 0 13px;
    background-color: #fff;
  }
  h2 {
    padding: 0 30px 16px;
  }
  .buttons {
    display:        flex;
    overflow:       auto;
    gap:            9px;
    padding-bottom: 15px;
    li {
      &:first-of-type {
        margin-left: 30px;
      }
      &:last-of-type {
        margin-right: 30px;
      }
    }
  }
  button {
    min-width: 0;
    padding:   11px 25px;
    font-size: 12px;
  }
  .scroll {
    padding: 1px 21px 0 25px;
  }
  .title-channels {
    font-size:   16px;
    font-weight: 700;
    margin:      0 0 17px 8px;
    text-align:  start;
    padding:     0;
  }
  .table-row {
    display:     flex;
    align-items: center;
    div {
      display:     flex;
      align-items: center;
    }
    .symbol-number {
      span {
        min-width: 20px;
      }
    }
    .title-channel {
      padding-left: 13px;
    }
    .code-channel {
      margin-left: auto;
    }
  }
  .table-header {
    border-bottom:  1px solid #D9D9D9;
    padding-bottom: 5px;
    margin-bottom:  14px;
    .table-row {
      padding: 0 19px;
      div {
        span {
          font-size:   10px;
          font-weight: 400;
          color:       #6F8F81;
        }
      }
    }
  }
  .table-body {
    padding: 0 0 21px 6px;
    .table-row {
      &:before {
        counter-increment: section;
        content:           counter(section);
        min-width:         37px;
        font-size:         13px;
        font-weight:       500;
        border-right:      1px solid rgba(#03BF9D, .2);
        margin-right:      14px;
      }
      &:first-of-type {
        .code-channel {
          border-radius: 6px 6px 0 0;
        }
      }
      &:nth-of-type(2n) {
        background-color: #f9f9f9;
        .code-channel {
          background-color: rgba(#03BF6A, .5);
        }
      }
      &:last-of-type {
        .code-channel {
          border-radius: 0 0 6px 6px;
        }
      }
      .title-channel {
        font-size:   13px;
        font-weight: 400;
        padding:     5px 0;
      }
      .code-channel {
        min-height:       27px;
        width:            35px;
        justify-content:  center;
        font-size:        11px;
        font-weight:      500;
        background-color: rgba(#03bf6a4d, .3);
        padding:          8px 0 7px;
      }
    }
  }
}

@media(min-width: 567px) {
  .modal-channels {
    button {
      font-size: 18px;
    }
    .title-channels {
      font-size: 32px;
    }
    .table-header {
      .table-row {
        div {
          span {
            font-size: 16px;
          }
        }
      }
    }
    .table-body {
      .table-row {
        &:before {
          font-size: 18px;
        }
        .title-channel {
          font-size: 16px;
        }
        .code-channel {
          min-height: 48px;
          font-size:  18px;
          padding:    13px 30px;
        }
      }
    }
  }
}

@media(min-width: 1024px) {
  .modal-channels {
    padding: 20px;
    .close-modal {
      top:   90px;
      right: 22px;
    }
    .channels {
      border-radius: 60px;
      padding:       0 50px 0;
    }
    .modal-channels-header {
      padding: 67px 0 13px;
    }
    .buttons {
      gap: 44px;
    }
    button {
      font-size: 25px;
      padding:   15px 39px;
    }
    h2 {
      padding: 0 30px 48px;
    }
    .scroll {
      padding: 31px 21px 0 22px;
    }
    .table {
      padding: 0 79px 0 59px;
    }
    .title-channels {
      font-size: 40px;
      margin:    0 0 39px 8px;
    }
    .table-header {
      padding-bottom: 10px;
      margin-bottom:  30px;
      .table-row {
        div {
          span {
            font-size: 24px;
          }
        }
      }
    }
    .table-row {
      .title-channel {
        padding-left: 56px;
      }
    }
    .table-body {
      padding: 0 0 33px;
      .table-row {
        &:before {
          min-width: 50px;
          font-size: 24px;
        }
        &:first-of-type {
          .code-channel {
            border-radius: 20px 20px 0 0;
          }
        }
        &:last-of-type {
          .code-channel {
            border-radius: 0 0 20px 20px;
          }
        }
        .title-channel {
          font-size: 24px;
        }
        .code-channel {
          min-height: 65px;
          font-size:  24px;
          padding:    19px 51px;
        }
      }
    }
  }
}

@media(min-width: 1440px) {
  .modal-channels {
    padding: 20px;
  }
}