@import "../common/animations";

.header {
  width:            100vw;
  position:         fixed;
  top:              0;
  left:             0;
  z-index:          1000;
  background-color: #F2F8F8;
  .top {
    display: none;
  }
  .main {
    position: relative;
    top:      0;
    left:     0;
    z-index:  1000;
    .content {
      min-height:      70px;
      display:         flex;
      justify-content: space-between;
      align-items:     center;
    }
    .current-menu-item {
      a {
        color: #03BF6A;
      }
    }
    .logo {
      transition: .3s linear;
      img {
        width:   40px;
        display: flex;
      }
      &:hover {
        opacity: .7;
      }
      &:active {
        opacity: .5;
      }
    }
    .burger-btn {
      svg:nth-of-type(1) {
        display: block;
      }
      svg:nth-of-type(2) {
        display: none;
      }
      &.active {
        svg:nth-of-type(1) {
          display: none;
        }
        svg:nth-of-type(2) {
          display: block;
        }
      }
    }
    .burger-open {
      height: 30px;
      width:  35px;
    }
    .burger-close {
      margin-right: 5px;
    }
    ul {
      display: none;
    }
    svg {
      width:      24px;
      cursor:     pointer;
      transition: .2s linear;
      &:nth-of-type(2) {
        width: 20px;
      }
      path {
        transition: .2s linear;
      }
      &:hover {
        path {
          fill: #006939;
        }
      }
      &:active {
        opacity: .5;
      }
    }
    .btn {
      display: none;
    }
  }
  .burger-menu {
    height:           100vh;
    width:            100%;
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    padding:          70px 0 30px;
    overflow:         auto;
    text-align:       center;
    position:         fixed;
    top:              0;
    right:            0;
    z-index:          900;
    background-color: #F2F8F8;
    transition:       .3s linear;
    transform:        translateX(100%);
    &.open-burger {
      transform: translateX(0);
    }
    svg {
      margin-right: 8px;
    }
    li {
      margin-bottom: 32px;
      a {
        color:       #324035;
        font-weight: 500;
        &:hover {
          color: #03bf6a;
        }
        &:active {
          color: #006939;
        }
      }
    }
    .user {
      min-width:     271px;
      margin-bottom: 20px;
      &:hover {
        svg {
          path {
            fill: #03bf6a;
          }
        }
      }
      svg {
        width: 13px;
        path {
          transition: .3s linear;
        }
      }
    }
    .btn-payment {
      min-width:     271px;
      margin-bottom: 42px;
    }
    .location {
      font-size:     14px;
      margin-bottom: 21px;
      color:         #03bf6a;
      &:hover {
        color: #006939;
        svg path {
          fill: #006939;
        }
      }
      &:active {
        color: #029c56;
        svg path {
          fill: #029c56;
        }
      }
      svg {
        width: 13px;
        path {
          transition: .3s linear;
        }
      }
    }
    .phones {
      display:        flex;
      flex-direction: row-reverse;
      align-items:    start;
      margin-bottom:  20px;
      div {
        display:        flex;
        flex-direction: column;
      }
      svg {
        width: 14px;
        path {
          transition: .3s linear;
        }
      }
      ul {
        margin-bottom: 7px;
      }
      li {
        margin-bottom: 10px;
      }
      a {
        font-size:      14px;
        color:          #03bf6a;
        padding-bottom: 8px;
      }
    }
  }
  .burger-menu .phones, .top .phones {
    div:hover ~ svg {
      path {
        fill: #006939;
      }
    }
    a:hover {
      color: #006939;
    }
    a:active {
      color: #029c56;
    }
  }
}

// animations
#header {
  opacity: 0;
  &.animation {
    animation: $animationFromTop;
  }
}

@media(min-width: 1200px) {
  .header {
    border-bottom: 1px solid #324035;
    &.scroll {
      .top {
        height: 0;
      }
      .main .content {
        min-height: 78px;
      }
    }
    a {
      font-size: 18px;
    }
    .content {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
    }
    .left, .right {
      display:     flex;
      align-items: center;
    }
    svg, img {
      margin-right: 7px;
    }
    .top {
      display:     flex;
      align-items: center;
      transition:  .2s linear;
      .container {
        max-width: 2500px;
        padding:   0 0 0 38px;
      }
      .left {
        white-space: nowrap;
        align-items: start;
        color:       #03BF6A;
        svg {
          path {
            transition: .3s linear;
          }
        }
        &:hover {
          color: #029c56;
          svg {
            path {
              fill: #029c56;
            }
          }
        }
        &:active {
          color: #006939;
          svg {
            path {
              fill: #006939;
            }
          }
        }
        svg {
          width: 19px;
        }
      }
      .right {
        gap: 20px;
        svg {
          width:        18px;
          margin-right: 7px;
        }
        .phones {
          display:        flex;
          flex-direction: row-reverse;
          div {
            display: flex;
          }
          svg {
            path {
              transition: .2s linear;
            }
          }
          ul {
            display: flex;
          }
          a {
            color:      #03BF6A;
            transition: .2s linear;
            &:first-of-type {
              margin-right: 7px;
            }
            &:hover {
              color: #006939;
            }
            &:active {
              color: #029c56;
            }
          }
        }
        .user {
          min-width:       179px;
          padding:         12px 0 7px;
          display:         flex;
          align-items:     center;
          justify-content: center;
          font-size:       18px;
          transition:      .2s linear;
          background:      #03BF6A;
          color:           #fff;
          &:hover {
            background: #324035;
            color:      #fff;
          }
          &:active {
            background: #029c56;
          }
          svg {
            width: 13px;
          }
        }
      }
    }
    .main {
      background: #fff;
      .container {
        max-width: 1861px;
      }
      .content {
        min-height: 98px;
      }
      .left {
        width:     100%;
        max-width: 1455px;
        padding:   0 20px;
      }
      .logo {
        margin-right: 30px;
        img {
          width: 75px;
        }
      }
      ul {
        width:           100%;
        display:         flex;
        justify-content: space-between;
        align-items:     center;
      }
      li {
        a {
          font-size:   16px;
          font-weight: 600;
          color:       #324035;
          &:hover {
            color: #03BF6A;
          }
          &:active {
            color: #029c56;
          }
        }
      }
      .burger-btn {
        display: none;
      }
      .btn {
        min-width: 0;
        display:   inline-flex;
        padding:   12px 44px;
      }
    }
    .burger-menu {
      display: none;
    }
  }
}

@media(min-width: 1440px) {
  .header {
    .main {
      .logo {
        margin-right: 64px;
      }
      li {
        a {
          font-size: 20px;
        }
      }
    }
  }
}