.accordion {
  padding: 58px 0 44px;
  .container {
    max-width: 1271px;
  }
  h2 {
    margin-bottom: 15px;
  }
  .questions-select {
    width:         100%;
    background:    #FBFDFC;
    box-shadow:    0 50px 80px rgba(3, 191, 106, 0.07), 0 20px 36.9864px rgba(3, 191, 106, 0.0519173), 0 14px 21.1628px rgba(3, 191, 106, 0.0438747);
    border-radius: 10px;
    margin-bottom: 8px;
    border:        2px solid transparent;
    transition:    .3s linear;
    padding:       0 19px;
    &:hover {
      border-color: #03BF6A;
    }
    &:active {
      border-color: #006939;
    }
    &.active {
      border-color: #03BF6A;
      padding:      0 19px 19px;
    }
  }
  .question {
    width:           100%;
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    padding:         23px 0;
    cursor:          pointer;
    p {
      font-size:   18px;
      font-weight: 600;
      line-height: 1;
      margin:      0;
    }
    .icon-select {
      width:      10px;
      transition: .2s linear;
      &.open {
        transform: rotate(90deg);
      }
    }
  }
  .questions-answer {
    max-height:  0;
    overflow:    hidden;
    line-height: 1.6;
    transition:  .2s linear;
    &.show-answer {
      max-height: 400px;
    }
  }
}

@media(min-width: 768px) {
  .accordion {
    .question {
      .icon-select {
        width: 19px;
      }
    }
  }
}

@media(min-width: 1024px) {
  .accordion {
    padding: 66px 0 100px;
    h2 {
      margin-bottom: 55px;
      text-align:    center;
    }
    .questions-select {
      width:         100%;
      background:    #FBFDFC;
      box-shadow:    0 100px 80px rgba(3, 191, 106, 0.07), 0 46.233px 36.9864px rgba(3, 191, 106, 0.0519173), 0 26.4535px 21.1628px rgba(3, 191, 106, 0.0438747);
      border-radius: 20px;
      border-width:  4px;
      margin-bottom: 19px;
      padding:       0 32px;
      &.active {
        padding: 0 32px 24px;
      }
    }
    .question {
      width:   100%;
      padding: 37px 0;
      &.open {
        padding: 37px 0 24px;
      }
      p {
        font-size: 32px;
      }
    }
    .questions-answer {
      line-height: 1.8;
    }
  }
}

@media(min-width: 1440px) {
  .accordion {
    padding: 66px 0 120px;
  }
}