* {
  outline:    none;
  box-sizing: border-box;
  margin:     0;
  padding:    0;
}

html,
body {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height:     100vh;
  display:        flex;
  flex-direction: column;
  font-family:    'MacPaw Fixel', sans-serif;
  color:          #324035;
}

main {
  flex:        1 0 auto;
  padding-top: 52px;
}

main ~ :not(footer) {
  display: none;
}

section {
  position: relative;
  top:      0;
  left:     0;
  z-index:  0;
}

img, svg, iframe, video {
  width: 100%;
}

a {
  text-decoration: none;
  cursor:          pointer;
  transition:      .3s linear;
  &:hover {
    color: #006939;
  }
  &:active {
    color: #029c56;
  }
}

strong {
  color: #03bf6a;
}

.container {
  max-width: 1920px;
  width:     100%;
  padding:   0 20px;
  margin:    0 auto;
}

h2 {
  font-size:   26px;
  font-weight: 700;
  color:       #324035;
  line-height: 1.1;
}

h3 {
  font-weight: 600;
  font-size:   24px;
  color:       #324035;
}

p {
  font-weight:   400;
  font-size:     14px;
  line-height:   1.5;
  margin-bottom: 10px;
  a {
    color: #03bf6a;
  }
}

li {
  list-style: none;
  a {
    color: #03bf6a;
  }
}

label {
  width:         100%;
  display:       block;
  margin-bottom: 11px;
}

input, select, textarea {
  width:         100%;
  padding:       14px 27px;
  display:       inline-flex;
  overflow:      hidden;
  text-overflow: ellipsis;
  cursor:        pointer;
  border:        1px solid #d2dbdb;
  border-radius: 40px;
  font-size:     14px;
  font-weight:   500;
  transition:    .3s linear;
  &:hover {
    border: 1px solid #03BF6A;
  }
  &:focus {
    border-color: #03BF6A;
  }
  .error {
    border-color: #FF2F2F;
  }
}

textarea {
  border-radius: 13px;
}

select {
  width:                 100%;
  -webkit-appearance:    none;
  -moz-appearance:       none;
  background-image:      url('../images/icons/select.svg');
  background-repeat:     no-repeat;
  background-position-x: 94%;
  background-position-y: 50%;
  background-size:       9px;
  padding-right:         7px;
}

input[type='file'] {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button, .btn {
  min-width:       100%;
  cursor:          pointer;
  display:         inline-flex;
  justify-content: center;
  align-items:     center;
  white-space:     nowrap;
  user-select:     none;
  border:          2px solid #03BF6A;
  font-weight:     700;
  transition:      .3s linear;
  padding:         17px 20px;
  border-radius:   100px;
  font-size:       16px;
}

.btn-black {
  background-color: #324035;
  border-color:     #324035;
  color:            rgba(#fff, .8);
  &:hover {
    color:            #324035;
    background-color: #fff;
  }
  &:active {
    color:        #029c56;
    border-color: #029c56;
  }
}

.btn-outlined {
  color:            #03BF6A;
  background-color: #fff;
  &:hover {
    color:            #fff;
    background-color: #03BF6A;
  }
  &:active {
    background: #006939;
  }
}

.btn-full {
  color:            #fff;
  background-color: #03BF6A;
  &:hover {
    color:            #03BF6A;
    background-color: #fff;
  }
  &:active {
    color:        #006939;
    border-color: #006939;
  }
}

.btn-switch {
  color:            #324035;
  background-color: #F2F8F8;
  font-size:        15px;
  padding:          11px 22px;
  display:          inline-flex;
  border:           0;
  &:hover {
    color:            #fff;
    background-color: #03BF6A;
  }
  &:active {
    background-color: #006939;
  }
  &.active {
    background-color: #03BF6A;
    color:            #fff;
  }
}

.bg-green {
  background: linear-gradient(114.04deg, #03BF6A 24.98%, #6AE37E 101.83%);
}

.bg-cover-absolute {
  height:     100%;
  position:   absolute;
  top:        0;
  left:       0;
  z-index:    -1;
  object-fit: cover;
}

.swiper-button-prev.d-none,
.swiper-button-next.d-none,
.d-none {
  display: none;
}

.p-relative {
  position: relative;
  top:      0;
  left:     0;
  z-index:  0;
}

.swiper {
  &-wrapper {
    .swiper-slide {
      height:   auto;
      position: relative;
      top:      0;
      left:     0;
      z-index:  0;
    }
  }
  & &-pagination.swiper-pagination-bullets {
    bottom: 6px;
    span {
      cursor:           pointer;
      height:           8px;
      width:            8px;
      background-color: #03BF6A;
      margin:           0 5px;
      transition:       .2s linear;
      &:hover {
        opacity: 1;
      }
    }
  }
  & &-button-prev, & &-button-next {
    transition: .2s linear;
    &:hover, &:hover {
      width: 20px;
    }
  }
}

.tel-link {
  border:           2px solid transparent;
  border-radius:    60px;
  transition:       .2s linear;
  background-color: #F2F8F8;
  &:hover {
    border-color: #006939;
  }
  &:active {
    border-color: #029c56;
  }
  a {
    min-width:       194px;
    padding:         12px;
    display:         flex;
    align-items:     center;
    justify-content: center;
    color:           #324035;
    overflow:        hidden;
    &:hover {
      color: #324035;
    }
    svg, img {
      width:       14px;
      margin-left: 10px;
      fill:        #324035;
    }
  }
}

.shadow {
  box-shadow: 0 40px 80px rgba(3, 191, 106, .2);
}

.modal {
  height:           100vh;
  width:            100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position:         fixed;
  top:              0;
  left:             0;
  z-index:          1000;
  text-align:       center;
  &::after {
    display:        inline-block;
    vertical-align: middle;
    width:          0;
    height:         100%;
    content:        '';
  }
  span {
    text-align: start;
  }
}

.close-modal {
  width:    18px;
  position: absolute;
  top:      21px;
  right:    16px;
  z-index:  0;
  cursor:   pointer;
  path {
    transition: .2s linear;
  }
  &:hover {
    path {
      fill: #006939;
    }
  }
  &:active {
    path {
      fill: #029c56;
    }
  }
}

.d-none {
  display: none !important;
}

@media(min-width: 567px) {
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  p {
    font-size:     18px;
    margin-bottom: 15px;
  }
  label {
    margin-bottom: 15px;
  }
  input, select, textarea {
    font-size: 18px;
  }
  .btn, button {
    min-width: 0;
    padding:   19px 50px;
    font-size: 20px;
  }
  .btn-switch {
    font-size: 18px;
  }
  .tel-link {
    a {
      img, svg {
        width: 18px;
      }
    }
  }
  .close-modal {
    width: 26px;
    right: 22px;
  }

}

@media (min-width: 1024px) {
  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    font-size:     24px;
    line-height:   1.5;
    margin-bottom: 20px;
  }

  button, .btn {
    border-width: 4px;
    font-size:    24px;
    padding:      19px 66px;
  }

  .btn-switch {
    font-size: 24px;
    padding:   16px 42px;
  }

  input, select, textarea {
    padding:       21px 32px;
    border:        2px solid #d2dbdb;
    border-radius: 40px;
    color:         #324035;
    font-size:     24px;
    font-weight:   500;
    &:hover {
      border: 2px solid #03BF6A;
    }
  }

  label {
    margin-bottom: 21px;
  }

  select {
    background-position-x: 90%;
    background-position-y: 54%;
    background-size:       13px;
  }

  .swiper {
    & &-pagination.swiper-pagination-bullets {
      margin-bottom: 10px;
      span {
        height: 20px;
        width:  20px;
        margin: 0 15px;
      }
    }
  }

  .close-modal {
    width: 35px;
    top:   82px;
    right: 44px;
  }

}

@media(min-width: 1200px) {
  main {
    padding-top: 139px;
  }
}

// ACF and Forms styles

.wpcf7-list-item.first.last {
  margin: 0 0 0 21px;
  label {
    position:   relative;
    top:        0;
    left:       0;
    z-index:    0;
    transition: .3s linear;
    cursor:     pointer;
    &:hover {
      .wpcf7-list-item-label::before {
        box-shadow: 1px 1px 5px #03BF6A, -1px -1px 5px #03BF6A, 1px -1px 5px #03BF6A, -1px 1px 5px #03BF6A;
      }
    }
    input {
      width:   12px;
      opacity: 0;
      &:checked + .wpcf7-list-item-label::after {
        display: block;
      }
    }
  }
}

.wpcf7-list-item-label {
  padding-left: 10px;
  font-size:    14px;
  user-select:  none;
  &::before {
    content:          '';
    display:          block;
    position:         absolute;
    left:             0;
    top:              2px;
    z-index:          -1;
    width:            12px;
    height:           12px;
    background-color: #fff;
    border:           1px solid #03BF6A;
    border-radius:    2px;
    transition:       .1s linear;
  }
  &::after {
    content:             '';
    display:             none;
    position:            absolute;
    left:                0;
    top:                 3px;
    width:               12px;
    height:              12px;
    background-color:    #6BC2BB;
    border:              1px solid #03BF6A;
    border-radius:       2px;
    background-image:    url("../images/icons/ready.svg");
    background-size:     12px;
    background-repeat:   no-repeat;
    background-position: center;
  }
}

#menu-header-links-1 {
  margin-bottom: 7px;
}

.wpcf7-spinner {
  display: none;
}

.wpcf7 form .wpcf7-response-output,
.wpcf7 form.failed .wpcf7-response-output {
  padding:       10px;
  border-radius: 10px;
  margin:        10px 0;
  font-size:     18px;
  text-align:    center;
}

.wpcf7-not-valid-tip {
  margin-left: 10px;
  font-size:   16px;
}

@media(min-width: 567px) {
  .wpcf7-list-item-label {
    padding-left: 16px;
    font-size:    16px;
    &::before {
      height: 14px;
      width:  14px;
      top:    0;
    }
    &::after {
      height: 14px;
      width:  14px;
      top:    0;
    }
  }

  .wpcf7-not-valid-tip {
    margin-left: 15px;
  }
}

@media(min-width: 1024px) {
  .wpcf7-list-item-label {
    padding-left: 20px;
    font-size:    20px;
    &::before {
      height: 19px;
      width:  19px;
      top:    4px;
    }
    &::after {
      height: 19px;
      width:  19px;
      top:    4px;
    }
  }
  .wpcf7 form .wpcf7-response-output,
  .wpcf7 form.failed .wpcf7-response-output {
    padding: 20px;
  }

  .wpcf7-not-valid-tip {
    margin-left: 20px;
  }
}

@media(min-width: 1440px) {
  .wpcf7-list-item-label,
  .wpcf7 form.failed .wpcf7-response-output {
    padding-left: 30px;
    &::before {
      height: 22px;
      width:  22px;
      top:    0;
    }
    &::after {
      height: 22px;
      width:  22px;
      top:    0;
    }
  }
}

