.header {
  width:            100vw;
  position:         fixed;
  top:              0;
  left:             0;
  z-index:          1000;
  background-color: #F2F8F8;
  .active {
    color: #03BF6A;
  }
  .top {
    display: none;
  }
  .main {
    .content {
      min-height:      52px;
      display:         flex;
      justify-content: space-between;
      align-items:     center;
    }
    .logo {
      transition: .3s linear;
      img {
        width:   40px;
        display: flex;
      }
      &:hover {
        opacity: .7;
      }
      &:active {
        opacity: .5;
      }
    }
    ul {
      display: none;
    }
    svg {
      width:      24px;
      cursor:     pointer;
      transition: .2s linear;
      path {
        transition: .2s linear;
      }
      &:hover {
        path {
          fill: #006939;
        }
      }
      &:active {
        opacity: .5;
      }
    }
    .btn {
      display: none;
    }
  }
}

@media(min-width: 1200px) {
  .header {
    border-bottom: 1px solid #324035;
    a {
      font-size: 18px;
    }
    .content {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
    }
    .left, .right {
      display:     flex;
      align-items: center;
    }
    svg, img {
      margin-right: 7px;
    }
    .top {
      display:     flex;
      align-items: center;
      .container {
        max-width: 2500px;
        padding:   0 0 0 38px;
      }
      .left {
        white-space: nowrap;
        align-items: start;
        color:       #03BF6A;
        svg {
          path {
            transition: .3s linear;
          }
        }
        &:hover {
          color: #029c56;
          svg {
            path {
              fill: #029c56;
            }
          }
        }
        &:active {
          color: #006939;
          svg {
            path {
              fill: #006939;
            }
          }
        }
        svg {
          width: 19px;
        }
      }
      .right {
        svg {
          width:        18px;
          margin-right: 7px;
        }
        .phones {
          display: flex;
          svg {
            path {
              transition: .2s linear;
            }
          }
          &:hover {
            svg {
              path {
                fill: #006939;
              }
            }
          }
          ul {
            display: flex;
          }
          li {
            &:first-of-type {
              margin-right: 7px;
            }
          }
          a {
            color:      #03BF6A;
            transition: .2s linear;
            &:hover {
              color: #006939;
            }
            &:active {
              color: #029c56;
            }
          }
        }
        .language {
          margin:      0 33px;
          display:     flex;
          align-items: center;
          cursor:      pointer;
          p {
            color:      #03BF6A;
            transition: .2s linear;
            font-size:  18px;
          }
          svg {
            path {
              transition: .2s linear;
            }
          }
          &:hover {
            p {
              color: #029c56;
            }
            svg {
              path {
                fill: #029c56;
              }
            }
          }
          &:active {
            p {
              color: #006939;
            }
            svg {
              path {
                fill: #006939;
              }
            }
          }
          .languages-list {
            width:            76px;
            position:         absolute;
            top:              120%;
            left:             50%;
            z-index:          1;
            transform:        translateX(-50%);
            border:           2px solid #03BF6A;
            border-radius:    7px;
            background-color: #fff;
            padding:          10px;
            text-align:       center;
            li {
              cursor:        pointer;
              overflow:      hidden;
              text-overflow: ellipsis;
              transition:    .2s linear;
              &:not(&:last-of-type) {
                padding-bottom: 10px;
              }
              &:hover {
                color: #03BF6A;
              }
            }
          }
        }
        .user {
          min-width:       179px;
          padding:         12px 0 7px;
          display:         flex;
          align-items:     center;
          justify-content: center;
          font-size:       18px;
          transition:      .2s linear;
          background:      #03BF6A;
          color:           #fff;

          &:hover {
            background: #324035;
            color:      #fff;
          }
          &:active {
            background: #029c56;
          }
          img {
            width: 13px;
          }
        }
      }
    }
    .main {
      background: #fff;
      .container {
        max-width: 1861px;
      }
      .content {
        min-height: 98px;
      }
      .left {
        width:     100%;
        max-width: 1455px;
        padding:   0 20px;
      }
      .logo {
        display: none;
      }
      ul {
        width:           100%;
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        img {
          width: 75px;
        }
        span {
          display: none;
        }
      }
      li {
        a {
          font-size:   16px;
          font-weight: 600;
          color:       #324035;
          &:hover {
            color: #03BF6A;
          }
          &:active {
            color: #029c56;
          }
        }
      }
      .burger {
        display: none;
      }
      .btn {
        min-width: 0;
        display:   inline-flex;
        padding:   12px 44px;
      }
    }
  }
}

@media(min-width: 1440px) {
  .header {
    .main {
      li {
        a {
          font-size: 20px;
        }
      }
    }
  }
}