.swiper.tariffs-slider {
  max-width:     1573px;
  margin-bottom: 30px;
  &.action-section {
    margin-bottom: 7px;
  }
  .swiper-wrapper {
    padding-bottom: 34px;
    &.without-pagination {
      margin-bottom: 13px;
    }
    &.center {
      justify-content: center;
    }
  }
  .swiper-button-next::after, .swiper-button-prev::after {
    color:       #03BF6A;
    font-weight: 1000;
  }
  .tariff {
    height:         100%;
    background:     linear-gradient(181.69deg, #FFFFFF 1.43%, #F3F8F8 98.71%);
    border:         2px solid rgba(#03BF6A, .6);
    border-radius:  20px;
    padding:        32px 20px;
    display:        flex;
    flex-direction: column;
    text-align:     center;
    position:       relative;
    top:            0;
    left:           0;
    z-index:        0;
    overflow:       hidden;
    h4 {
      font-size:   24px;
      font-weight: 700;
    }
    .speed {
      font-size:   16px;
      font-weight: 700;
      line-height: 1;
      span {
        font-size: 34px;
      }
    }
    .no-limited {
      margin-bottom: 16px;
      font-size:     12px;
      color:         #6F8F81;
    }
    .network {
      display:         flex;
      align-items:     center;
      justify-content: center;
      font-weight:     400;
      font-size:       16px;
      margin:          0 0 10px;
      img {
        width: 15px;
      }
      span {
        font-weight:  700;
        padding-left: 5px;
      }
    }
    .price {
      font-weight:     500;
      font-size:       14px;
      margin:          15px 0 25px;
      display:         flex;
      align-items:     flex-end;
      justify-content: center;
      span {
        font-weight:   700;
        font-size:     32px;
        line-height:   .8;
        padding-right: 5px;
      }
    }
    button {
      &:hover {
        background-color: #324035;
        color:            #fff;
        border-color:     #324035;
      }
      &:active {
        background-color: #fff;
        color:            #324035;
      }
    }
    .detail {
      margin-top:  15px;
      font-weight: 500;
      font-size:   14px;
      color:       #03BF6A;
      display:     block;
      &:hover {
        color: #006939;
      }
      &:active {
        color: #029c56;
      }
    }
    .bottom {
      margin-top: auto;
    }
  }
  .tariff-internet {
    h4 {
      margin-bottom: 25px;
    }
    .modal-net-info {
      display:       flex;
      align-items:   start;
      background:    #F2F8F8;
      border-radius: 20px;
      padding:       10px 20px;
      position:      absolute;
      top:           0;
      left:          0;
      z-index:       2;
      div {
        width:           20px;
        color:           #03BF6A;
        border-radius:   50%;
        border:          1px solid #03BF6A;
        padding:         4px 13px;
        margin-right:    19px;
        font-size:       16px;
        display:         flex;
        justify-content: center;
        align-items:     center;
        line-height:     1;
      }
    }
    .info {
      width:      24px;
      position:   absolute;
      top:        35px;
      right:      19px;
      z-index:    1;
      transition: .2s linear;
      cursor:     pointer;
      &:hover {
        opacity: .7;
      }
      &:active {
        transform: rotate(45deg);
      }
    }
    .network {
      img {
        margin-right: 8px;
      }
    }
  }
  .tariff-tv, .tariff-all {
    h4 {
      margin-bottom: 0;
    }
    .desc {
      margin-bottom: 15px;
      color:         #03BF6A;
      font-size:     12px;
    }
    .company {
      font-size:      25px;
      font-weight:    700;
      padding-bottom: 10px;
    }
    .no-limited {
      margin-bottom: 23px;
    }
    .header-network, .network {
      width:           100%;
      display:         flex;
      justify-content: space-between;
    }
    .header-network {
      p {
        font-size:   12px;
        font-weight: 400;
        opacity:     .4;
        line-height: 1.8;
      }
    }
  }
}

@media(min-width: 567px) {
  .swiper.tariffs-slider {
    .tariff {
      h4 {
        font-size: 32px;
      }
      .desc {
        font-size: 16px;
      }
      .internet {
        font-size: 32px;
      }
      .no-limited {
        font-size: 16px;
      }
      .network {
        font-size: 20px;
        img {
          width: 18px;
        }
      }
      .price {
        font-size: 18px;
        span {
          font-size: 40px;
        }
      }
      .detail {
        font-size: 16px;
      }
    }
    .tariff-tv, .tariff-all {
      .header-network {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media(min-width: 1024px) {
  .swiper.tariffs-slider {
    margin-bottom: 23px;
    .swiper-wrapper {
      padding: 0;
      margin:  0 0 70px 0;
    }
    .swiper-slide {
      padding: 0 20px;
      &:first-of-type {
        padding-left: 30px;
      }
      &:last-of-type {
        padding-right: 30px;
      }
    }
    .modal-net-info {
      padding: 20px;
      div {
        font-size: 18px;
        padding:   6px 15px;
      }
    }
    .tariff {
      border-radius: 40px;
      padding:       43px 20px;
      border-width:  4px;
      transition:    .2s linear;
      &:hover {
        background:   #FFFFFF;
        border-color: rgba(#03BF6A, 1);
      }
      h4 {
        font-size: 40px;
      }
      .desc {
        font-size: 20px;
      }
      .speed {
        font-size:   24px;
        font-weight: 400;
        line-height: 1;
        span {
          font-size:   42px;
          font-weight: 700;
        }
      }
      .no-limited {
        margin-bottom: 28px;
        font-size:     20px;
      }
      .network {
        display:     flex;
        align-items: center;
        font-size:   24px;
        font-weight: 400;
        margin:      0 0 14px;
        img {
          width: 20px;
        }
        span {
          font-weight:  700;
          padding-left: 10px;
        }
      }
      .price {
        font-size:   24px;
        margin:      32px 0 48px;
        display:     flex;
        align-items: flex-end;
        span {
          font-size:   50px;
          line-height: .8;
        }
      }
      .detail {
        margin-top:  23px;
        font-weight: 500;
        font-size:   20px;
      }
    }
    .tariff-internet {
      .info {
        width: 30px;
        top:   55px;
        right: 23px;
      }
      h4 {
        margin-bottom: 24px;
      }
      .network {
        img {
          margin-right: 11px;
        }
      }
    }
    .tariff-tv, .tariff-all {
      .header-network {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media(min-width: 1440px) {
  .swiper.tariffs-slider {
    padding: 0 37px;
    .tariff {
      button {
        font-size: 24px;
      }
    }
    .swiper-wrapper {
      margin: 0 0 80px 0;
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: 41%;
    }
    .swiper-pagination {
      display: none;
    }
  }
}