.tariffs-form {
  max-width:        566px;
  max-height:       100vh;
  width:            100%;
  overflow:         auto;
  padding:          26px 21px 24px;
  background-color: #fff;
  border-radius:    20px 20px 0 0;
  border:           1px solid #03bf6a;
  h3 {
    padding-bottom: 25px;
    text-align:     center;
  }
  .router {
    display: none;
  }
  label {
    white-space: nowrap;
    &:nth-of-type(4) {
      input {
        margin-bottom: 13px;
      }
    }
    input {
      &::placeholder {
        color: #6F8F81;
      }
    }
    .error {
      input {
        border-color:  #FF2F2F;
        margin-bottom: 8px;
      }
      .error-message {
        display:        flex;
        align-items:    center;
        color:          #FF2F2F;
        font-size:      24px;
        padding-bottom: 6px;
        span {
          padding:          3px 11px;
          background-color: #FF2F2F;
          color:            #fff;
          border-radius:    50%;
          margin:           0 15px 0 30px;
          font-size:        16px;
        }
      }
    }
    &.download-receipt {
      display: inline-flex;
      label {
        color:  #03BF6A;
        cursor: pointer;
      }
    }
  }

  &.form-tv, &.form-all {
    label:nth-of-type(4) {
      input {
        margin-bottom: 11px;
      }
    }
    .router {
      display: block;
    }
  }

  .block-checkbox {
    display:       inline-flex;
    margin-bottom: 7px;
  }

  .checkbox {
    user-select: none;
    display:     flex;
    align-items: center;
    white-space: nowrap;
    padding:     0;
  }
  .price-router {
    padding:          15px 19px;
    font-size:        14px;
    border-radius:    60px;
    display:          flex;
    align-items:      center;
    margin-bottom:    12px;
    color:            #03BF6A;
    background-color: #F2F8F8;
    div {
      padding:       1px 6px;
      line-height:   1;
      margin-right:  14px;
      border:        1px solid #03BF6A;
      border-radius: 50%;
    }
  }

  .btn {
    width:         100%;
    margin-bottom: 15px;
    &:hover {
      border-width: 2px;
    }
  }

  .download-receipt {
    display:     inline-flex;
    margin-left: 50%;
    transform:   translateX(-50%);
    label {
      cursor:     pointer;
      transition: .2s linear;
      font-size:  14px;
      color:      #03BF6A;
    }
  }
}

@media(min-width: 567px) {
  .tariffs-form {
    border-radius: 40px;
    label {
      &:last-of-type {
        font-size: 16px;
      }
    }
    .price-router {
      font-size: 18px;
      div {
        padding: 1px 8px;
      }
    }
  }
}

@media(min-width: 1024px) {
  .tariffs-form {
    max-width:    837px;
    padding:      75px 120px 90px;
    border-width: 2px;
    h3 {
      padding-bottom: 64px;
      font-size:      45px;
    }
    &.form-tv, &.form-all {
      label:nth-of-type(4) {
        input {
          margin-bottom: 30px;
        }
      }
    }
    .block-checkbox {
      margin-bottom: 21px;
    }
    .checkbox {
      input {
        margin: 0 26px;
      }
      span {
        font-size: 24px;
        &::before {
          left:   28px;
          width:  24px;
          height: 24px;
        }
        &::after {
          left:   28px;
          width:  24px;
          height: 24px;
        }
      }
    }
    .price-router {
      font-size:     24px;
      padding:       21px 31px;
      margin-bottom: 36px;
      div {
        padding:      1px 10px;
        margin-right: 21px;
      }
    }
    label {
      &:nth-of-type(4) {
        input {
          margin-bottom: 27px;
        }
      }
      input {
        margin-bottom: 21px;
      }
      &:last-of-type {
        font-size: 24px;
      }
    }
    .btn {
      padding:       23px 20px;
      margin-bottom: 25px;
    }
  }
}

@media(min-width: 1200px) {
  .tariffs-form {
    .btn:hover {
      border-width: 4px;
    }
  }
}
