@import "../common/animations";

.connection {
  .top-radio-buttons {
    padding: 41px 0 0;
    .container {
      max-width: 1500px;
    }
    .btn {
      &:hover {
        background-color: #03BF6A;
        color:            #fff;
      }
      &:active {
        background-color: #006939;
      }
    }
  }
  .tariffs-form {
    border-radius: 20px;
    margin:        66px auto 0;
    .close-modal {
      display: none;
    }
  }
  &.net {
    .top-radio-buttons {
      li {
        .btn-net {
          background-color: #03BF6A;
          color:            #fff;
        }
      }
    }
    .connection-tv {
      display: none;
    }
  }
  &.tv, &.all {
    .tariffs-form {
      .router {
        display: block;
      }
    }
    .connection-internet {
      display: none;
    }
  }
  &.tv {
    .top-radio-buttons {
      li {
        .btn-tv {
          background-color: #03BF6A;
          color:            #fff;
        }
      }
    }
  }
  &.all {
    .top-radio-buttons {
      li {
        .btn-all {
          background-color: #03BF6A;
          color:            #fff;
        }
      }
    }
  }
}

// animations
.connection {
  .section-form {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
}

@media(min-width: 768px) {
  .connection {
    .top-radio-buttons {
      padding: 35px 0 0;
    }
  }
}

@media(min-width: 1024px) {
  .connection {
    .top-radio-buttons {
      padding: 57px 0 0;
    }
    .tariffs-form {
      border-radius: 40px;
    }
  }

  // animations
  .connection {
    .section-form {
      opacity: 0;
      &.animation {
        animation: $animationFromBottom;
      }
    }
  }

}

@media(min-width: 1200px) {
  .connection {
    .top-radio-buttons {
      padding: 80px 0 0;
    }
  }
}