.error-404 {
  section {
    padding-top: 10%;
  }
  .container {
    max-width: 764px;
  }
  .content {
    text-align:  center;
    font-weight: 600;
    font-size:   30px;
  }
  img {
    margin-bottom: 36px;
  }
  a {
    margin-top: 20px;
  }
}

@media(min-width: 567px) {
  .error-404 {
    .content {
      font-size: 45px;
    }
  }
}

@media(min-width: 1024px) {
  .error-404 {
    font-size: 60px;
    img {
      margin-bottom: 56px;
    }
    a {
      margin-top: 38px;
    }
  }
}