@import "../common/animations";

.settings {
  section {
    padding: 41px 0 10px;
  }
  .container {
    max-width: 1466px;
    padding:   0;
  }
  h2 {
    text-align:  center;
    margin:      0 20px 27px;
    line-height: 1.4;
  }
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 35px;
  }
  .swiper-slide {
    height:  auto;
    padding: 0 20px 80px;
  }
  .setting {
    height:         100%;
    border:         1px solid #03BF6A;
    border-radius:  20px;
    box-shadow:     0 46.233px 36.9864px rgba(3, 191, 106, 0.2);
    padding:        37px 30px;
    font-size:      12px;
    color:          #6F8F81;
    font-weight:    400;
    text-align:     center;
    display:        flex;
    flex-direction: column;
    align-items:    center;
  }
  img {
    height:        80px;
    margin-bottom: 16px;
    object-fit:    contain;
  }
  h3 {
    margin: 4px 0 16px;
  }
  a {
    min-width:  0;
    padding:    15px 48px;
    margin-top: auto;
  }
}

// animations
.settings {
  .block-settings {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
}


@media(min-width: 567px) {
  .settings {
    .setting {
      font-size: 16px;
    }
    h2 {
      margin-bottom: 37px;
    }
  }
}

@media(min-width: 1024px) {
  .settings {
    .block-settings {
      padding-bottom: 30px;
    }
  }

  // animations
  .settings {
    .block-settings {
      opacity: 0;
      &.animation {
        animation: $animationFromBottom;
      }
    }
  }
}

@media(min-width: 1200px) {
  .settings {
    section {
      padding: 80px 0 75px;
    }
    h2 {
      margin-bottom: 76px;
      text-align:    start;
    }
    .swiper-pagination.swiper-pagination-bullets {
      bottom: 0;
    }
    .setting {
      border-radius: 40px;
      padding:       48px 49px;
      font-size:     20px;
    }
    h3 {
      margin: 18px 0 30px;
    }
    img {
      height: 110px;
    }
  }
}