.documents {
  section {
    padding: 40px 0 40px;
  }
  .container {
    max-width: 1546px;
  }
  h2 {
    padding-bottom: 34px;
    text-align:     center;
  }
  .content {
    gap:       20px;
    display:   flex;
    flex-wrap: wrap;
  }
  a {
    width:            100%;
    padding:          28px 23px 23px 29px;
    border:           1px solid #03BF6A;
    border-radius:    20px;
    background-color: #fff;
    transition:       .3s linear;
    line-height:      1.5;
    div {
      display:         flex;
      justify-content: flex-end;
    }
    &:hover {
      background-color: #03BF6A;
      h3 {
        color: #fff;
      }
      p {
        color: #F2F8F8;
      }
      .button {
        color: #F2F8F8;
      }
      svg {
        path {
          fill: #F2F8F8;
        }
      }
    }
    &:active {
      background-color: #029c56;
    }
  }
  h3 {
    padding-bottom: 15px;
    font-size:      18px;
    transition:     .3s linear;
    line-height:    1.2;
  }
  p {
    font-size:      14px;
    color:          #7A8781;
    transition:     .3s linear;
    padding-bottom: 10px;
  }
  .button {
    margin:      14px 0 0 auto;
    display:     inline-flex;
    align-items: center;
    color:       #03BF6A;
    font-size:   14px;
    transition:  .3s linear;
  }
  svg {
    width:       15px;
    margin-left: 6px;
    path {
      transition: .3s linear;
    }
  }
}

@media(min-width: 567px) {
  .documents {
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
    .button {
      font-size: 18px;
    }
  }
}

@media(min-width: 768px) {
  .documents {
    h2 {
      text-align: start;
    }
    a {
      width:          48%;
      display:        flex;
      flex-direction: column;
      div {
        margin-top: auto;
      }
    }
  }
}

@media(min-width: 1024px) {
  .documents {
    section {
      padding: 80px 0;
    }
    h2 {
      padding-bottom: 79px;
    }
    a {
      border-radius: 40px;
      padding:       28px 33px 38px 31px;
    }
    h3 {
      padding-bottom: 24px;
    }
    p {
      padding-bottom: 15px;
    }
    svg {
      width:       26px;
      margin-left: 12px;
    }
  }
}

@media(min-width: 1440px) {
  .documents {
    .content {
      gap: 30px;
    }
    a {
      width: 29%;
    }
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 24px;
    }
    .button {
      font-size: 24px;
    }
  }
}

@media(min-width: 1800px) {
  .documents {
    .content {
      gap: 64px;
    }
  }
}
